
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

label {
    flex: 1 0 200px;
    margin: 10px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 8px 0;
}

.js-create-promises {
    width: 100%;
    background-color: #a1c52d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
